<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConfigurationService_ISca" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://msk-dev-foris:8106/SCA" binding="basicHttpBinding"
                bindingConfiguration="ConfigurationService_ISca" contract="ISca.ISca"
                name="ConfigurationService_ISca" />
        </client>
    </system.serviceModel>
</configuration>